body{
   background-color: darkturquoise ; 
}
.container {
    background-color: orangered;
    width: 800px;
    margin: 65px;
    padding: 10px 20px;
    box-shadow: 0px 0px 8px 19px green;



}
.child h3{
    color: yellow;
    padding: 8px 5px;
    background-color: gainsboro;
    margin-bottom: 12px;
    border-bottom: solid 10px ;

}
p{
    color: black;
    margin-bottom: 10px;
    
}
.parent {
    height: 700px ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: solid 10px  springgreen;
    align-items: center ;
    padding: 20px;
    box-shadow: 2px 1px 20px 13px green;
    
}
.parent .child{
    flex-basis: 20%;
    padding: 25px;
    flex-basis:20% ;
    border: solid 5px black;
    box-shadow: 5px 5px 5px 5px;

}
.parent .child-1{
 background-color: orange;
 order: 0;
}
.parent .child-2{
background-color: red;
order: 0;
}
.parent .child-3{
background-color: green;
order: 0;
}
.parent .child-4{
background-color:darkblue ;
order: 2;

}
.parent .child-5{
background-color: orange ;
}
.parent .child-6{
background-color: lightpink;
}
